* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: #252525;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* desktop first */
html {
    background: #000;
    overflow: hidden;
}
#wrap {
    width: 66.66%;
    margin: 0 auto;
}
 /* nav */
 header {
     width: 66.66%; height: 100px;
     position: fixed;
     z-index: 1000;
     top: 50%;
     transform: translate(0, -50%);
 }
.nav {
    width: 100px;
    float: right;
    position: relative;
    right: -110px;
}
.nav > ul > li {
    text-align: left;
    line-height: 24px;
}
.nav > ul > li > a {
    color: #999;
    font-size: 14px;
}
li.on > a {
    border-bottom: 1.5px solid #999;
}

.header > .mobileBtn {
    display: none;
}
div.previousPage, div.nextPage, div.menuBtn, .nav2, div.categoryOpen {
    display: none;
}



#fullPage {
    width: 100%;
}
/* section */
.section {
    width: 100%; height: 100vh;
    position: relative;
    background: #000;
}

/* section1 */
img.logo {
    display: block;
    width: 30vw;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;
}

/* section2 */
.section2 {
    width: 100%; height: 100%;
    position: relative;
    background: #000;
    z-index: 2;
}
.profileBox {
    display: block;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.profileBox .proflieBg {
    display: block;
    width: 100%;
}
.profile {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    padding: 100px;
}
.profile > h2 {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
.profileTitle {
    font-size: 14px;
    font-weight: 550;
    line-height: 30px;
    display: block;
    float: left;
    margin-right: 32px;
}
.profileCont {
    font-size: 14px;
    line-height: 30px;
    display: block;
    float: left;
}
.toolsCont {
    display: block;
    float: left;
    margin-right: 32px;
}
.profileImg {
    width: 30%;
    display: block;
    float: right;
}

/* section3 */
.circleBg {
    width: 100%;
    position: relative;
    top: 50vh;
    transform: translate(0, -50%);
    padding-bottom: 100%;
    background: #fff;
    border-radius: 100%;
    
}
.circleBg > h2 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}



/* mobile */

@media screen and (max-width:428px) {
    #wrap {
        width: 100%;
        padding: 0 20px 0 20px;
    }
    /* Menu bar */
    .header {
        position: fixed;
        width: 50px; height: 100%;
        right: 0;
        background: #000;
    }
    .header > .nav {
        display: none;
    }
    .nav2 {
        width: 30px; height: 120px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 5;
    }
    ul.mobileBtn {
        width: 30px; height: 120px;
        display: block;
        position: relative;
        top: -20px;
    }
    
    .mobileBtn > li > a {
        width: 30px; height: 30px;
        display: block;
        margin: 0;
        position: absolute;
        top: -10px; left: -10px;
    }
    .mobileBtn > li  {
        content: "";
        width: 10px; height: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        position: relative;
        top: 10px;
        margin: 20px 10px 10px 10px;
    }
    .mobileBtn > li.active {
        background-color: #fff;
    }

    div.menuBtn {
        width: 30px; height: 30px;
        position: absolute;
        top: 300px; left: 0;
        display: block;
        z-index: 5;
    }
    div.openMenu {
        width: 30px; height: 30px;
        position: absolute;
        display: block;
    }
    div.closeMenu {
        width: 30px; height: 30px;
        position: absolute;
        display: none;
    }

    div.categoryOpen {
        height: 100%; width: 125px;
        position: absolute;
        right: 0; top: 0;
        display: none;
    }

    div.categoryOpen > div.categoryBg {
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    ul.category {
        position: absolute;
        left: 10px;
        width: 62px;
        text-align: right;
        top: 50%;
        transform: translate(0, -50%);
        margin-right: 10px;
    }
    ul.category > li {
        width: 62px;
        height: 30px;
    }
    ul.category > li > a {
        color: #fff;
        font-size: 12px;
        
    }

    div.menuBtn img {
        height: 15px;
        display: block;
        position: relative;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    div.previousPage {
        content: "";
        width: 30px; height: 30px;
        position: absolute;
        top: 40px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    div.nextPage {
        content: "";
        width: 30px; height: 30px;
        position: absolute;
        bottom: 40px;
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    img.pageBtn {
        display: block;
        text-align: center;
        width: 15px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }


    /* logo */
    .section {
        width: 100%; height: 100%;
    }
    img.logo {
        width: 50%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    /* profile */
    .section2 {
        width: 100%; height: 100%;
    }
    .section2 div.profileBox {
        width: 100%; height: 100%;
        padding-right: 30px;
    }
    .section img.proflieBg {
        display: none;
    }
    .section div.profile {
        width: 100%; height: 100%;
        background-color: #fff;
        padding: 20px;
        padding-right: 50px;
    }
    .section div.profile h2 {
        margin: 20px 0;
        font-size: 14px;
    }
    .section div.profile div.profileTitle {
        font-size: 12px;
        line-height: 24px;
        margin-right: 16px;
        position: absolute;
        top: 345px;
    }
    .section div.profile div.profileCont {
        font-size: 12px;
        line-height: 24px;
        width: 178px;
        position: absolute;
        top: 345px;
        left: 91px;
    }
    .section div.profile div.profileCont p.toolsCont {
        margin-right: 16px;
        line-height: 20px;
    }
    .section div.profile img.profileImg {
        width: 60%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 85px;
    }


}

